%h1 Welcome to Banana Land Fantasy Baseball
%p
  %a{:href => '#teams'} Teams
  %a{:href => '#rules'} Rules
  %a{:href => '#draft'} Draft
  %a{:href => '#games'} Standings
  %a{:href => '#stats'} Stats

%h2#teams Teams
%h2#rules Rules
%h2#draft Draft
%h2#games Standings
%h2#stats Stats