%h1 Players By Position 
%h3
  %a{href: '/players'} Back to All Players
%h2 Positions: 
%h3 
  - @positions.each do |position|
    %a.position(href="/players/position/#{position}")= position 
    = (position != @positions.last ? ' | '  : '')


= render partial: 'players/player_list', locals: {players: @players}