%h1 Players by Rank

%h2.downloads Downloads

%ul.downloads 
  %li 
    %a{href: 'yahoo_player_rankings.xlsx'} Players by Yahoo Rank (Excel)
  %li
    %a{href: '/players.xlsx'} Full Database Download (Excel)

%h2 Filter by Position 

%h3.position-groups Position Groups 
%p 
  %a{href:'/players/pitchers'} Pitchers
  %a{href:'/players/batters'} Batters

%h3.position-groups By Positions

- @positions.each do |position|
  %a.position(href="/players/position/#{position}")= position 
  = (position != @positions.last ? ' | '  : '')

%br
%br

= render partial: 'players/player_list', locals: {players: @players}
